
        a{
        	text-decoration: none;
        }
        
        body{
            background-color: whitesmoke;
        }
        
        section{
          
            text-align: center;
            color: darkred;
        }
        
          h2, h3{
            font-size: 59px;
        }
        
        h4{
            font-size: 45px;
            margin: 25px 0;
        }
        
        .item{
            height: 150px;
            margin: 3% 12% 3% 30%;
            background-color: darkgrey;
            border-radius: 5px;
            color: floralwhite;
            font-size: 50px;
            padding: 50px 0 0 0  ;
        }
        
       
        
         .oneItem{
            height: 1000px;
            margin: 3% 12% 3% 30%;
            background-color: burlywood;
            border-radius: 5px;
            color: firebrick;
            font-size: 50px;
            padding-top: 20px
        
        }
        
        .itemPhoto{
            height: 300px;
            width: 76%;
            background-color: palegoldenrod;
            margin: 0 12% 0 12%;
            border-radius: 3px;
            color: darkslategrey;
        }
        
        .user{
            height: 80px;
            margin: 5px 12% 15px 30%;
            background-color: white;
            border-radius: 5px;
            font-size: 45px;
            color:gray;
            text-align: left;
            padding-left: 20px;
        }
        
         .oneUser{
            height: 700px;
            margin: 3% 12% 3% 30%;
            background-color: burlywood;
            border-radius: 5px;
            color: firebrick;
            font-size: 50px;
            padding: 70px 0 0 0  ;
            display: flex;
        }
        
        .userPhoto{
            height: 300px;
            width: 30%;
            background-color: palegoldenrod;
            margin: 0 10% 0 10%;
            border-radius: 3px;
            color: darkslategrey;
        }
        
        .login{
            font-size: 25px;
            color:yellow;
            font-style: italic;
            padding: 0 0 50px 0;
        }
        
        input{
            height: 30px;
            width: 200px;
            margin: 10px 0;
        }
